/*.image-resize:has(.right) {float: right; border-radius: 20%;}*/
/*.asset-container:has(.right) {float: right; border-radius: 20%;}*/

a.tag { display: none !important }

/*.image-resize:has(.right) {float: right;  border-radius: 50% !important; min-height:100% ; max-height: 100%}*/
.image-resize:has(.right) {float: right;}
.asset-container:has(.right) {float: right;}


/*it's id block of "content" on my cv page */
.ls-block[blockid="65058c11-8a91-442c-b685-1f20ad6bf9f8"]>.block-children-container.flex>.block-children.w-full {
    column-count: 2 !important;
}




/*tabler support*/
@supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', 'tabler-icons', sans-serif  !important;
    }
}
html:not(.is-native-android) {
    font-family: var(--ls-font-family),'tabler-icons',sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
}

.ra{
    float: right;
}


.image-resize:has(.shadow) {
  box-shadow: 0px 10px 20px #ccc;
  display: block;
  margin: 0 auto;
}


/*div.block-properties.page-properties {
    display: none;
}*/


/*Tables with multiline*/
/*td {
    white-space: pre-wrap !important;
}
*/






/*SRC: https://github.com/cannibalox/logseq-custom-files*/

/* logseq table resizer v20220331 ======================= */
/* add rules to custom.css =============================== */
        .table th {
            position: relative;
        }
        .query-table-resizer {
            position: relative;
            top: -20px;
            float: right;
            margin-bottom: -18px;
            cursor: col-resize;
            user-select: none;
            border-right: 1px solid var(--ls-border-color);
            width: 10px; /* hitbox width */
            height: 20px; 
        }

        .query-table-resizer:active,
        .query-table-resizing {
            border-right: 2px solid rgb(255, 0, 0);
        }

        .custom-query table.table-auto {
            width: -webkit-fill-available;
            table-layout: fixed;
        }
        .custom-query .table-auto>thead>tr>th {
            border-bottom: 1px solid var(--ls-border-color);
        }
        .custom-query .table-auto>thead>tr>th {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 3px 6px;
        }
        .custom-query .table-auto>tbody>tr>td.whitespace-nowrap {
            overflow-wrap: break-word;
            min-width: 20px;
            white-space: normal;
            font-weight: 300;
            font-size: 13px;
        }
        .custom-query .table-auto>tbody>tr>.whitespace-nowrap img {
            max-height: 120px;
            margin: 0;
        }
/* ==================================== end of table resizer */